<div>
    <div class="news-top" style="text-align: center;">
        <p>
            Latest News and Updates
        </p>
        <p>
            Stay informed about the latest news, updates, and important announcements from the Khula Municipality. Here you will find press releases, public notices, and event updates that impact the community.
        </p>
    </div>
    <div class="d-flex flex-wrap justify-content-end border-0">
        <div class="card" style="width: 18rem; border: none; text-align: center;">
            <div class="card-top mb-2 border-0">
                <h4 style="color:rgb(74, 74, 121)">Lastest News</h4>
            </div>
            <ul class="list-group list-group-flush border-0 gap-2">
                <li class="list-group-item rounded" style="background-color: rgba(213, 230, 136, 0.432);border: 1px solid rgb(184, 121, 27);"><p class="fs-6 fw-lighter">News Content 1 here...</p></li>
                <li class="list-group-item rounded" style="background-color: rgba(213, 230, 136, 0.432);border: 1px solid rgb(184, 121, 27);"><p class="fs-6 fw-lighter">News Content 2 here...</p></li>
                <li class="list-group-item rounded" style="background-color: rgba(213, 230, 136, 0.432);border: 1px solid rgb(184, 121, 27);"><p class="fs-6 fw-lighter">News Content 3 here...</p></li>
            </ul>
            <a href="http://localhost/test_drupal_site/web/news">Read More News</a>
        </div>
    </div>
    <div class="news-body" style="text-align: center;">
        <h4>Stay Updated</h4>
        <p>
            For more updates and announcements, follow us on our social media channels:
        </p>
        <p>
            <a href="https://twitter.com/yourmunicipality">Twitter</a>
        </p>
        <p>
            <a href="https://facebook.com/yourmunicipality">Facebook</a>
        </p>
        <p>
            <a href="https://www.linkedin.com/company/yourmunicipality">LinkedIn</a>
        </p>
    </div>
    <div class="news-conclusion">
        <h4>Archived News</h4>
        <p>
            For past news and announcements, visit our <a href="/news/archive">News Archive</a>.
        </p>
    </div>
</div>