{# {{ attach_library('kamve_image_slideshow/image_carousel_library') }} #}
<div class="carousel-body" style="padding: 50px; color: rgb(194, 196, 216);
    background-color: rgb(35, 27, 65); border: solid 1px rgb(54, 14, 14);
    text-align: center;">
    <div class="carousel-header">
        {{ custom_data.carousel_title }}
    </div>
    <div> 
        {{ custom_data.image_one }}
    </div>
</div>